/*Header logo-search-icons*/
.header {
    position: sticky;
    top: 0;
}
.nav {
    background-color: var(--main-black);
}
.nav__navHead {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.navHead__logoLink {
    display: flex;
    width: 7rem;
    padding: 0.5%;
}
.navHead__logoImg {
    width: 100%;
    cursor: pointer;
}

.navHead__search {
    margin-bottom: 1%;
    width: 60%;
    height: 5vh;
    border: 2px black solid;
    border-radius: 5px;
    font-size: 1rem;
    padding: 1% 0% 1% 0.5%;
    box-shadow: -1px 0px 12px 0px rgba(0, 0, 0, 0.45);
}

.navHead__menuIcons {
    display: flex;
    justify-content: center;
    gap: 2rem;
    width: 30%;
    padding: 0rem 1rem;
}

.menuIcons__userLink {
    display: block;
    width: 2.4rem;
    cursor: pointer;
}

.menuIcons__userImg {
    width: 100%;
}
.menuIcons__cart {
    display: block;
    width: 2.4rem;
    cursor: pointer;
}
.cart__img {
    width: 100%;
}

#cart__toggle {
    display: none;
}
/*carrito desplegable*/

.cart__dropDown {
    position: absolute;
    top: 8vh; /*cuando se active la cruz, poner a cero*/
    right: 0;
    width: 25%;
    background: linear-gradient(173deg, rgba(255, 255, 255, 1) 14%, rgba(176, 18, 235, 0.7399334733893557) 100%);
    height: 93vh;
    z-index: 99;
    text-align: center;
    border-left: 1.5px solid var(--main-violet);
    gap: 1.5rem;
    display: none;
    overflow-y: scroll;
    padding: 1%;
}
.cart__dropDown::-webkit-scrollbar {
    display: none;
}
.cart__header {
    display: flex;
    justify-content: space-between;
}

.dropDown__item {
    margin: 0% 3%;
    border: 1px solid var(--main-violet);
    border-radius: 5px;
    background-color: var(--main-white);
}
.dropDown__title {
    padding-top: 2%;
}
.dropDown__item img {
    width: 25%;
    margin: 1%;
}
.dropDown__title {
    background-color: white;
    margin: 1%;
}

.item__title {
    border-bottom: 1px solid var(--main-violet);
    padding: 0.5px 0px;
}
.item__price {
    display: block;
    padding: 2% 0%;
    border-bottom: 1px solid var(--main-violet);
    font-weight: 600;
}

.item__handler {
    padding: 2% 0%;
    font-weight: 600;
}

.handler__quantity {
    display: inline-block;
    padding: 2px 8px;
    border: 1px solid var(--main-black);
    border-radius: 5px;
    cursor: pointer;
}

.divider {
    margin-top: 3%;
    border: 2px solid var(--main-violet);
}

.cart__total {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    font-weight: 600;
    gap: 0.5rem;
}
.cart__total p {
    font-size: 1.5rem;
}
.total__price {
    font-size: 1.8rem;
}
.btn__add {
    width: 60%;
    padding: 2% 0%;
    font-weight: 800;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
}
/*cuando cart__toggle este en checked, cambia estilos de   y .cart*/
#cart__toggle:checked + .cart__dropDown {
    display: flex;
    flex-direction: column;
    animation: slide 1s ease 0s 1 normal both;
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

/*close cart*/
#close__toggle {
    display: none;
}

/*nav*/

.nav__navMain {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
    padding: 0.6rem 0rem 0.6rem 0rem;
}
.nav__mobile {
    display: none;
}
.navMain__item a:hover {
    color: var(--main-fucsia);
}

.nav__item--separate {
    border: 1.5px solid white;
    border-radius: 10px;
    padding: 0.4rem;
    position: relative;
    left: 8%;
}
.nav__item--separate:hover {
    /* border: #a80070 solid 2px; */
    animation-name: niceBorder;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    /* transition: all 1s ease; */
}
@keyframes niceBorder {
    0% {
        border-left: var(--main-violet) solid 2px;
    }
    33% {
        border-top: var(--main-violet) solid 2px;
    }
    66% {
        border-right: var(--main-violet) solid 2px;
    }
    99% {
        border-bottom: var(--main-violet) solid 2px;
    }
    100% {
        border: var(--main-violet) solid 2px;
    }
}
.navMain__link {
    color: white;
    font-size: 1vw;
    cursor: pointer;
}

#nav__toggle {
    display: none;
}

.nav__hamburger {
    display: none;
    width: 3rem;
    cursor: pointer;
}
.nav__hamburger img {
    width: 100%;
}

#nav__toggle:checked + .nav__mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: slideMenu 1s ease 0s 1 normal both;
}
@keyframes slideMenu {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}
