/*HEADER*/

/*MAIN*/

.hero {
}

/*hero*/
.hero__img {
    width: 100%;
}

/*dudas frecuentes*/
.faq {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    background-color: white;
}
.faq__link {
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1px 0px;
}

.faq__img {
    width: 50%;
}
.faq__text {
    font-size: 1vw;
    text-align: center;
    font-weight: 700;
    padding-top: 0.5%;
    overflow: visible;
}
/*productos*/

/*ofertas*/

.sale {
    margin-top: 3%;
}
.sale__title {
    font-size: 2.3rem;
    text-align: center;
    padding: 1rem 0rem;
    text-shadow: 1px 4px 2px rgba(219, 215, 215, 0.6);
}
.sale__cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 1%;
}
.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: -2px 0px 14px 2px rgba(0, 0, 0, 0.54);
    background-color: white;
    width: 20%;
}

.card__img {
    width: 100%;
    object-fit: contain;
}

.card__title {
    font-size: 1.2rem;
    text-align: center;
    padding: 1.5rem 0rem;
}
.card__price {
    font-size: 1.2em;
    padding: 0.5rem 0rem;
}
.card__button {
    color: white;
    background-color: black;
    margin: 2rem 0rem;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    border-radius: 8px;
    font-weight: 600;
    width: 80%;
    cursor: pointer;
}

.bestSellers {
    margin-top: 3%;
}

.bestSellers__title {
    font-size: 2.3rem;
    text-align: center;
    padding: 1rem 0rem;
    text-shadow: 1px 4px 2px rgba(219, 215, 215, 0.6);
}

.bestSellers__cards {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 1%;
}

/*FOOTER*/

/*footer nav*/

/*footer contacts y links*/
